In [18]:
import pandas as pd
df=pd.read_excel("Dataset8.xlsx")
import numpy as np
from scipy import stats

In [8]:
df=df.drop(columns=['Unnamed: 0','Harsolie','Benzeen','Roetolie','CD.CBO','MTBE','Kraakbenzine','BKM'])

In [23]:
# df=df.drop(columns=['Niveau T701','Flow Benzine'])
# df.describe()
df=pd.read_excel("/home/forecast/Desktop/df.xlsx")

In [12]:
for col in df.columns: 
    print(col)

VRU.Dampinlaat
Temperatuur Benzine
Flow Benzine
Buitentemperatuur
Niveau T701
KWS.Inlaat
Benzeen.Inlaat

In [74]:

from scipy import stats
dfclean=df[(np.abs(stats.zscore(df)) < 3).all(axis=1)]

In [60]:
df=pd.read_excel("/home/forecast/Desktop/df2.xlsx")

In [63]:
df=df.dropna()

In [35]:
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [64]:
df.isna().sum()

Harsolie               0
Benzeen                0
Roetolie               0
CD.CBO                 0
MTBE                   0
Kraakbenzine           0
BKM                    0
VRU.Dampinlaat         0
Temperatuur Benzine    0
Flow Benzine           0
Buitentemperatuur      0
Niveau T701            0
KWS.Inlaat             0
Benzeen.Inlaat         0
dtype: int64

In [103]:
# df.isna().sum() 
dfclean.describe()

,Harsolie,Benzeen,Roetolie,CD.CBO,MTBE,Kraakbenzine,BKM,VRU.Dampinlaat,Temperatuur Benzine,Flow Benzine,Buitentemperatuur,Niveau T701,KWS.Inlaat,Benzeen.Inlaat
count,353231.000000,353231.000000,353231.000000,353231.00000,353231.000000,353231.000000,353231.000000,353231.000000,353231.000000,353231.000000,353231.000000,353231.000000,353231.000000,353231.000000
mean,0.003680,28.982786,13.422720,13.11502,4.892608,22.917270,0.287884,182.804494,12.071234,6.628192,12.888845,1238.254480,23931.393218,1231.484344
std,0.236975,69.228859,34.266643,34.56305,22.372409,66.081679,2.852447,91.763735,3.727947,1.114776,7.270206,666.241863,11974.233368,1485.559503
min,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,-45.302000,0.568000,-0.175000,2.544000,-9.235000,0.000000,-625.000000,-1125.000000
25%,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,149.528000,10.239000,5.504000,7.438000,749.680000,16184.475500,594.087500
50%,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,186.431000,12.474000,6.810000,12.477000,1034.788000,22214.128000,948.276000
75%,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,208.877000,13.868000,7.051000,18.052000,1578.651000,29468.348000,1420.565000
max,19.954000,250.987000,163.299000,140.89300,192.082000,304.723000,45.323000,567.844000,24.920000,10.556000,35.573000,3353.616000,96264.318000,16470.596000

In [104]:
y=dfclean['KWS.Inlaat']
X=dfclean.drop(['KWS.Inlaat'], axis=1)

In [83]:
regressor = LinearRegression()  
model=regressor.fit(X, y)

In [89]:
print(regressor)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [78]:
df.describe()

,Harsolie,Benzeen,Roetolie,CD.CBO,MTBE,Kraakbenzine,BKM,VRU.Dampinlaat,Temperatuur Benzine,Flow Benzine,Buitentemperatuur,Niveau T701,KWS.Inlaat,Benzeen.Inlaat
count,438948.000000,438948.000000,438948.000000,438948.000000,438948.000000,438948.000000,438948.000000,438948.000000,438948.000000,438948.000000,438948.000000,438948.000000,4.389480e+05,438948.000000
mean,1.742912,28.068180,17.744956,16.637665,16.482388,37.677544,0.008379,203.240062,12.370757,6.553655,13.145242,1260.751268,2.609587e+04,1799.239812
std,17.477638,74.339676,48.888674,41.420562,58.536155,89.019694,15.106109,121.542941,4.183120,1.337197,7.481954,697.728372,2.339953e+04,4891.094408
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-248.533000,0.568000,-8.059000,0.000000,-11.474000,0.000000,-6.250000e+02,-1125.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,155.913000,10.452000,5.504000,7.596000,754.450000,1.565757e+04,504.305000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,187.692000,12.588000,6.805000,12.837000,1043.647000,2.220803e+04,947.043000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,213.370250,14.073250,7.050000,18.388000,1592.282000,3.027468e+04,1439.276250
max,196.781000,19069.891000,720.000000,204.898000,719.928000,719.897000,192.586000,1030.000000,31.500000,15.500000,41.955000,3666.641000,1.000828e+06,244102.236000

In [105]:
import statsmodels.formula.api as sm
model = sm.ols(formula='y ~ X', data=dfclean)

In [107]:
fitted1 = model.fit()
fitted1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.370
Model:                            OLS   Adj. R-squared:                  0.370
Method:                 Least Squares   F-statistic:                 1.593e+04
Date:                Mon, 13 Apr 2020   Prob (F-statistic):               0.00
Time:                        18:02:28   Log-Likelihood:            -3.7367e+06
No. Observations:              353231   AIC:                         7.473e+06
Df Residuals:                  353217   BIC:                         7.474e+06
Df Model:                          13
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   1.423e+04    118.563    120.019      0.000     1.4e+04    1.45e+04
X[0]         -71.8587     67.507     -1.064      0.287    -204.170      60.453
X[1]         -15.9945      0.258    -62.079      0.000     -16.500     -15.490
X[2]         -83.1533      4.621    -17.994      0.000     -92.211     -74.096
X[3]          78.2260      4.578     17.086      0.000      69.252      87.200
X[4]          47.8939      0.740     64.739      0.000      46.444      49.344
X[5]         -16.5649      0.269    -61.692      0.000     -17.091     -16.039
X[6]         -26.2969      5.615     -4.683      0.000     -37.303     -15.291
X[7]           7.5081      0.207     36.205      0.000       7.102       7.915
X[8]         804.1594      6.207    129.561      0.000     791.994     816.325
X[9]        -623.9634     14.689    -42.480      0.000    -652.753    -595.174
X[10]        200.9116      3.125     64.285      0.000     194.786     207.037
X[11]         -2.6195      0.025   -106.434      0.000      -2.668      -2.571
X[12]          3.3445      0.011    293.316      0.000       3.322       3.367
==============================================================================
Omnibus:                   121815.606   Durbin-Watson:                   0.162
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1133244.743
Skew:                           1.395   Prob(JB):                         0.00
Kurtosis:                      11.320   Cond. No.                     1.59e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.59e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [81]:
dfclean.to_excel("/home/forecast/Desktop/clean8.xlsx")

In [108]:

df=pd.read_excel("/home/forecast/Desktop/clean8.xlsx")

In [109]:
dfclean.describe()

,Harsolie,Benzeen,Roetolie,CD.CBO,MTBE,Kraakbenzine,BKM,VRU.Dampinlaat,Temperatuur Benzine,Flow Benzine,Buitentemperatuur,Niveau T701,KWS.Inlaat,Benzeen.Inlaat
count,353231.000000,353231.000000,353231.000000,353231.00000,353231.000000,353231.000000,353231.000000,353231.000000,353231.000000,353231.000000,353231.000000,353231.000000,353231.000000,353231.000000
mean,0.003680,28.982786,13.422720,13.11502,4.892608,22.917270,0.287884,182.804494,12.071234,6.628192,12.888845,1238.254480,23931.393218,1231.484344
std,0.236975,69.228859,34.266643,34.56305,22.372409,66.081679,2.852447,91.763735,3.727947,1.114776,7.270206,666.241863,11974.233368,1485.559503
min,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,-45.302000,0.568000,-0.175000,2.544000,-9.235000,0.000000,-625.000000,-1125.000000
25%,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,149.528000,10.239000,5.504000,7.438000,749.680000,16184.475500,594.087500
50%,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,186.431000,12.474000,6.810000,12.477000,1034.788000,22214.128000,948.276000
75%,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,208.877000,13.868000,7.051000,18.052000,1578.651000,29468.348000,1420.565000
max,19.954000,250.987000,163.299000,140.89300,192.082000,304.723000,45.323000,567.844000,24.920000,10.556000,35.573000,3353.616000,96264.318000,16470.596000